.app__menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
  }
  
  .app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .app__menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
  }
  
  .app__menuitem-name {
    flex: 1;
  }
  
  .app__menuitem-dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
  }
  
  .app__menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .p__beautiful {
    font-size: 16px;
  }
  
  .p__avenirnext {
    font-size: 14px;
  }
  
  /* Media queries for responsive styles */
  
  @media screen and (max-width: 600px) {
    .app__menuitem-dash {
      width: 45px;
    }
  
    .p__beautiful {
      font-size: 18px;
    }
  
    .p__avenirnext {
      font-size: 16px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .app__menuitem-dash {
      width: 72px;
    }
  
    .p__beautiful {
      font-size: 20px;
    }
  
    .p__avenirnext {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 901px) {
    .app__menuitem-dash {
      width: 90px;
    }
  
    .p__beautiful {
      font-size: 16px;
    }
  
    .p__avenirnext {
      font-size: 14px;
    }
  }
  